## REPASO PANDAS KIKE

In [134]:
import pandas as pd # con la tecla shift + enter se ejecuta la celda y genera una nueva

In [135]:
# cargamos el archivo

df = pd.read_csv('/content/comunio_J5.csv')

In [136]:
# ver las cinco primeras filas con el método head()

df.head()

,Team_id,Team,Player,Position,Matchs,On_start_%,Goals,Assists,Total_Points,Points_Average,Last_5_games_points,J_5,J_4,J_3,J_2,J_1,Avg_last_5_games,Value,img,squad_img
0,1,Athletic Club,Unai Simón,PT,5,100,0,1,25,5.0,"['8', '5', '8', '2', '2']",8,5,8,2,2,5.0,4830000,https://www.comuniate.com/caras3/2669.png,https://www.comuniate.com/intranet/equipos/fot...
1,1,Athletic Club,Agirrezabala,PT,5,0,0,0,0,0.0,"['-', '-', '-', '-', '-']",0,0,0,0,0,0.0,370000,https://www.comuniate.com/caras3/3140.png,https://www.comuniate.com/intranet/equipos/fot...
2,1,Athletic Club,Ander Iru,PT,5,0,0,0,0,0.0,"['-', '-', '-', '-', '-']",0,0,0,0,0,0.0,300000,https://www.comuniate.com/caras3/3309.png,https://www.comuniate.com/intranet/equipos/fot...
3,1,Athletic Club,De Marcos,DF,5,100,3,0,32,6.4,"['7', '7', '9', '5', '4']",7,7,9,5,4,6.4,4660000,https://www.comuniate.com/caras3/1032.png,https://www.comuniate.com/intranet/equipos/fot...
4,1,Athletic Club,Yeray Álvarez,DF,5,80,0,0,27,6.8,"['6', '8', '8', '5', '-']",6,8,8,5,0,5.4,5370000,https://www.comuniate.com/caras3/2326.png,https://www.comuniate.com/intranet/equipos/fot...

In [137]:
df.head(1) # si al método head le pasamos un número como parámetro nos muestra ese número filas

,Team_id,Team,Player,Position,Matchs,On_start_%,Goals,Assists,Total_Points,Points_Average,Last_5_games_points,J_5,J_4,J_3,J_2,J_1,Avg_last_5_games,Value,img,squad_img
0,1,Athletic Club,Unai Simón,PT,5,100,0,1,25,5.0,"['8', '5', '8', '2', '2']",8,5,8,2,2,5.0,4830000,https://www.comuniate.com/caras3/2669.png,https://www.comuniate.com/intranet/equipos/fot...

In [138]:
df.tail() # por defecto muestra las ultimas cinco filas

,Team_id,Team,Player,Position,Matchs,On_start_%,Goals,Assists,Total_Points,Points_Average,Last_5_games_points,J_5,J_4,J_3,J_2,J_1,Avg_last_5_games,Value,img,squad_img
520,20,Sevilla FC,En-Nesyri,DL,1,40,0,0,9,1.8,"['2', '2', '2', '1', '2']",2,2,2,1,2,1.8,6530000,https://www.comuniate.com/caras3/2314.png,https://www.comuniate.com/intranet/equipos/fot...
521,20,Sevilla FC,Dolberg,DL,1,0,0,0,2,2.0,"['2', '-', '-', '-', '-']",2,0,0,0,0,0.4,3330000,https://www.comuniate.com/caras3/3337.png,https://www.comuniate.com/intranet/equipos/fot...
522,20,Sevilla FC,Jesús Corona,DL,1,20,0,0,2,2.0,"['-', '-', '-', '2', '-']",0,0,0,2,0,0.4,4260000,https://www.comuniate.com/caras3/3217.png,https://www.comuniate.com/intranet/equipos/fot...
523,20,Sevilla FC,Suso,DL,0,0,0,0,2,2.0,"['-', '-', '-', '2', '-']",0,0,0,2,0,0.4,1950000,https://www.comuniate.com/caras3/1740.png,https://www.comuniate.com/intranet/equipos/fot...
524,20,Sevilla FC,Januzaj,DL,0,0,0,0,0,0.0,"['-', '-', '-', '-', '-']",0,0,0,0,0,0.0,2630000,https://www.comuniate.com/caras3/2436.png,https://www.comuniate.com/intranet/equipos/fot...

In [139]:
display(df) # muestr las cinco primeras y cinco últimas filas

,Team_id,Team,Player,Position,Matchs,On_start_%,Goals,Assists,Total_Points,Points_Average,Last_5_games_points,J_5,J_4,J_3,J_2,J_1,Avg_last_5_games,Value,img,squad_img
0,1,Athletic Club,Unai Simón,PT,5,100,0,1,25,5.0,"['8', '5', '8', '2', '2']",8,5,8,2,2,5.0,4830000,https://www.comuniate.com/caras3/2669.png,https://www.comuniate.com/intranet/equipos/fot...
1,1,Athletic Club,Agirrezabala,PT,5,0,0,0,0,0.0,"['-', '-', '-', '-', '-']",0,0,0,0,0,0.0,370000,https://www.comuniate.com/caras3/3140.png,https://www.comuniate.com/intranet/equipos/fot...
2,1,Athletic Club,Ander Iru,PT,5,0,0,0,0,0.0,"['-', '-', '-', '-', '-']",0,0,0,0,0,0.0,300000,https://www.comuniate.com/caras3/3309.png,https://www.comuniate.com/intranet/equipos/fot...
3,1,Athletic Club,De Marcos,DF,5,100,3,0,32,6.4,"['7', '7', '9', '5', '4']",7,7,9,5,4,6.4,4660000,https://www.comuniate.com/caras3/1032.png,https://www.comuniate.com/intranet/equipos/fot...
4,1,Athletic Club,Yeray Álvarez,DF,5,80,0,0,27,6.8,"['6', '8', '8', '5', '-']",6,8,8,5,0,5.4,5370000,https://www.comuniate.com/caras3/2326.png,https://www.comuniate.com/intranet/equipos/fot...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520,20,Sevilla FC,En-Nesyri,DL,1,40,0,0,9,1.8,"['2', '2', '2', '1', '2']",2,2,2,1,2,1.8,6530000,https://www.comuniate.com/caras3/2314.png,https://www.comuniate.com/intranet/equipos/fot...
521,20,Sevilla FC,Dolberg,DL,1,0,0,0,2,2.0,"['2', '-', '-', '-', '-']",2,0,0,0,0,0.4,3330000,https://www.comuniate.com/caras3/3337.png,https://www.comuniate.com/intranet/equipos/fot...
522,20,Sevilla FC,Jesús Corona,DL,1,20,0,0,2,2.0,"['-', '-', '-', '2', '-']",0,0,0,2,0,0.4,4260000,https://www.comuniate.com/caras3/3217.png,https://www.comuniate.com/intranet/equipos/fot...
523,20,Sevilla FC,Suso,DL,0,0,0,0,2,2.0,"['-', '-', '-', '2', '-']",0,0,0,2,0,0.4,1950000,https://www.comuniate.com/caras3/1740.png,https://www.comuniate.com/intranet/equipos/fot...
524,20,Sevilla FC,Januzaj,DL,0,0,0,0,0,0.0,"['-', '-', '-', '-', '-']",0,0,0,0,0,0.0,2630000,https://www.comuniate.com/caras3/2436.png,https://www.comuniate.com/intranet/equipos/fot...

In [140]:
# para ver la información de nuestro dataframe

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525 entries, 0 to 524
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Team_id              525 non-null    int64
 1   Team                 525 non-null    object
 2   Player               525 non-null    object
 3   Position             525 non-null    object
 4   Matchs               525 non-null    int64
 5   On_start_%           525 non-null    int64
 6   Goals                525 non-null    int64
 7   Assists              525 non-null    int64
 8   Total_Points         525 non-null    int64
 9   Points_Average       525 non-null    float64
 10  Last_5_games_points  525 non-null    object
 11  J_5                  525 non-null    int64
 12  J_4                  525 non-null    int64
 13  J_3                  525 non-null    int64
 14  J_2                  525 non-null    int64
 15  J_1                  525 non-null    int64
 16  Avg_last_5_games     525 non-null    float64
 17  Value                525 non-null    int64
 18  img                  525 non-null    object
 19  squad_img            525 non-null    object
dtypes: float64(2), int64(12), object(6)
memory usage: 82.2+ KB

In [141]:
# para ver los elementos únicos de una columna método unique

df.Team.unique()

array(['Athletic Club', 'Club Atlético de Madrid', 'CA Osasuna',
       'RCD Espanyol de Barcelona', 'FC Barcelona', 'Getafe CF',
       'Real Madrid CF', 'Rayo Vallecano de Madrid', 'RCD Mallorca',
       'Real Betis Balompié', 'Real Sociedad de Fútbol', 'Villarreal CF',
       'Valencia CF', 'Real Valladolid CF', 'Cádiz CF', 'UD Almería',
       'Elche CF', 'Girona FC', 'RC Celta de Vigo', 'Sevilla FC'],
      dtype=object)

In [142]:
# filtrar

df[df['Team']=='Real Madrid CF'].head()

,Team_id,Team,Player,Position,Matchs,On_start_%,Goals,Assists,Total_Points,Points_Average,Last_5_games_points,J_5,J_4,J_3,J_2,J_1,Avg_last_5_games,Value,img,squad_img
154,7,Real Madrid CF,Courtois,PT,5,100,0,0,21,4.2,"['7', '2', '5', '5', '2']",7,2,5,5,2,4.2,7490000,https://www.comuniate.com/caras3/1400.png,https://www.comuniate.com/intranet/equipos/fot...
155,7,Real Madrid CF,Lunin,PT,5,0,4,1,0,0.0,"['-', '-', '-', '-', '-']",0,0,0,0,0,0.0,560000,https://www.comuniate.com/caras3/2611.png,https://www.comuniate.com/intranet/equipos/fot...
156,7,Real Madrid CF,Alaba,DF,5,80,1,2,30,6.0,"['14', '5', '2', '7', '2']",14,5,2,7,2,6.0,9700000,https://www.comuniate.com/caras3/3099.png,https://www.comuniate.com/intranet/equipos/fot...
157,7,Real Madrid CF,Lucas Vázquez,DF,4,60,3,1,25,6.3,"['14', '2', '2', '-', '7']",14,2,2,0,7,5.0,4580000,https://www.comuniate.com/caras3/1949.png,https://www.comuniate.com/intranet/equipos/fot...
158,7,Real Madrid CF,Rüdiger,DF,5,60,2,1,20,4.0,"['4', '2', '4', '-', '10']",4,2,4,0,10,4.0,10420000,https://www.comuniate.com/caras3/3243.png,https://www.comuniate.com/intranet/equipos/fot...

In [143]:
# filtrar con varias condiciones
df[(df.Team == 'Real Madrid CF') & (df.Position == 'DF')]

,Team_id,Team,Player,Position,Matchs,On_start_%,Goals,Assists,Total_Points,Points_Average,Last_5_games_points,J_5,J_4,J_3,J_2,J_1,Avg_last_5_games,Value,img,squad_img
156,7,Real Madrid CF,Alaba,DF,5,80,1,2,30,6.0,"['14', '5', '2', '7', '2']",14,5,2,7,2,6.0,9700000,https://www.comuniate.com/caras3/3099.png,https://www.comuniate.com/intranet/equipos/fot...
157,7,Real Madrid CF,Lucas Vázquez,DF,4,60,3,1,25,6.3,"['14', '2', '2', '-', '7']",14,2,2,0,7,5.0,4580000,https://www.comuniate.com/caras3/1949.png,https://www.comuniate.com/intranet/equipos/fot...
158,7,Real Madrid CF,Rüdiger,DF,5,60,2,1,20,4.0,"['4', '2', '4', '-', '10']",4,2,4,0,10,4.0,10420000,https://www.comuniate.com/caras3/3243.png,https://www.comuniate.com/intranet/equipos/fot...
159,7,Real Madrid CF,Carvajal,DF,4,40,0,1,16,4.0,"['-', '3', '2', '5', '6']",0,3,2,5,6,3.2,5300000,https://www.comuniate.com/caras3/1683.png,https://www.comuniate.com/intranet/equipos/fot...
160,7,Real Madrid CF,Éder Militão,DF,4,60,0,0,13,4.3,"['-', '2', '6', '5', '-']",0,2,6,5,0,2.6,7080000,https://www.comuniate.com/caras3/2760.png,https://www.comuniate.com/intranet/equipos/fot...
161,7,Real Madrid CF,Ferland Mendy,DF,5,80,1,0,11,2.8,"['2', '5', '-', '2', '2']",2,5,0,2,2,2.2,5220000,https://www.comuniate.com/caras3/2791.png,https://www.comuniate.com/intranet/equipos/fot...
162,7,Real Madrid CF,Nacho Fernández,DF,5,20,1,1,8,4.0,"['4', '-', '-', '-', '4']",4,0,0,0,4,1.6,1720000,https://www.comuniate.com/caras3/1332.png,https://www.comuniate.com/intranet/equipos/fot...
163,7,Real Madrid CF,Odriozola,DF,3,0,0,0,0,0.0,"['-', '-', '-', '-', '-']",0,0,0,0,0,0.0,570000,https://www.comuniate.com/caras3/2350.png,https://www.comuniate.com/intranet/equipos/fot...
164,7,Real Madrid CF,Jesús Vallejo,DF,4,0,0,1,0,0.0,"['-', '-', '-', '-', '-']",0,0,0,0,0,0.0,580000,https://www.comuniate.com/caras3/2400.png,https://www.comuniate.com/intranet/equipos/fot...

In [144]:
from datetime import datetime

In [145]:
datetime.now()

datetime.datetime(2022, 9, 22, 17, 11, 0, 776220)

In [146]:
# creamos una columna nueva y le asignamos el valor de la fecha actual
df['Date'] = datetime.now()

In [147]:
df.head()

,Team_id,Team,Player,Position,Matchs,On_start_%,Goals,Assists,Total_Points,Points_Average,...,J_5,J_4,J_3,J_2,J_1,Avg_last_5_games,Value,img,squad_img,Date
0,1,Athletic Club,Unai Simón,PT,5,100,0,1,25,5.0,...,8,5,8,2,2,5.0,4830000,https://www.comuniate.com/caras3/2669.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755
1,1,Athletic Club,Agirrezabala,PT,5,0,0,0,0,0.0,...,0,0,0,0,0,0.0,370000,https://www.comuniate.com/caras3/3140.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755
2,1,Athletic Club,Ander Iru,PT,5,0,0,0,0,0.0,...,0,0,0,0,0,0.0,300000,https://www.comuniate.com/caras3/3309.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755
3,1,Athletic Club,De Marcos,DF,5,100,3,0,32,6.4,...,7,7,9,5,4,6.4,4660000,https://www.comuniate.com/caras3/1032.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755
4,1,Athletic Club,Yeray Álvarez,DF,5,80,0,0,27,6.8,...,6,8,8,5,0,5.4,5370000,https://www.comuniate.com/caras3/2326.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755

In [148]:
df['Date Tomorrow'] = '2022/09/27'

In [149]:
df

,Team_id,Team,Player,Position,Matchs,On_start_%,Goals,Assists,Total_Points,Points_Average,...,J_4,J_3,J_2,J_1,Avg_last_5_games,Value,img,squad_img,Date,Date Tomorrow
0,1,Athletic Club,Unai Simón,PT,5,100,0,1,25,5.0,...,5,8,2,2,5.0,4830000,https://www.comuniate.com/caras3/2669.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022/09/27
1,1,Athletic Club,Agirrezabala,PT,5,0,0,0,0,0.0,...,0,0,0,0,0.0,370000,https://www.comuniate.com/caras3/3140.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022/09/27
2,1,Athletic Club,Ander Iru,PT,5,0,0,0,0,0.0,...,0,0,0,0,0.0,300000,https://www.comuniate.com/caras3/3309.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022/09/27
3,1,Athletic Club,De Marcos,DF,5,100,3,0,32,6.4,...,7,9,5,4,6.4,4660000,https://www.comuniate.com/caras3/1032.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022/09/27
4,1,Athletic Club,Yeray Álvarez,DF,5,80,0,0,27,6.8,...,8,8,5,0,5.4,5370000,https://www.comuniate.com/caras3/2326.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022/09/27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520,20,Sevilla FC,En-Nesyri,DL,1,40,0,0,9,1.8,...,2,2,1,2,1.8,6530000,https://www.comuniate.com/caras3/2314.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022/09/27
521,20,Sevilla FC,Dolberg,DL,1,0,0,0,2,2.0,...,0,0,0,0,0.4,3330000,https://www.comuniate.com/caras3/3337.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022/09/27
522,20,Sevilla FC,Jesús Corona,DL,1,20,0,0,2,2.0,...,0,0,2,0,0.4,4260000,https://www.comuniate.com/caras3/3217.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022/09/27
523,20,Sevilla FC,Suso,DL,0,0,0,0,2,2.0,...,0,0,2,0,0.4,1950000,https://www.comuniate.com/caras3/1740.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022/09/27
524,20,Sevilla FC,Januzaj,DL,0,0,0,0,0,0.0,...,0,0,0,0,0.0,2630000,https://www.comuniate.com/caras3/2436.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022/09/27

In [150]:
# para transformar una fecha en formato string a formato fecha
df['Date Tomorrow'] = pd.to_datetime(df['Date Tomorrow'])

In [151]:
df

,Team_id,Team,Player,Position,Matchs,On_start_%,Goals,Assists,Total_Points,Points_Average,...,J_4,J_3,J_2,J_1,Avg_last_5_games,Value,img,squad_img,Date,Date Tomorrow
0,1,Athletic Club,Unai Simón,PT,5,100,0,1,25,5.0,...,5,8,2,2,5.0,4830000,https://www.comuniate.com/caras3/2669.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022-09-27
1,1,Athletic Club,Agirrezabala,PT,5,0,0,0,0,0.0,...,0,0,0,0,0.0,370000,https://www.comuniate.com/caras3/3140.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022-09-27
2,1,Athletic Club,Ander Iru,PT,5,0,0,0,0,0.0,...,0,0,0,0,0.0,300000,https://www.comuniate.com/caras3/3309.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022-09-27
3,1,Athletic Club,De Marcos,DF,5,100,3,0,32,6.4,...,7,9,5,4,6.4,4660000,https://www.comuniate.com/caras3/1032.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022-09-27
4,1,Athletic Club,Yeray Álvarez,DF,5,80,0,0,27,6.8,...,8,8,5,0,5.4,5370000,https://www.comuniate.com/caras3/2326.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022-09-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520,20,Sevilla FC,En-Nesyri,DL,1,40,0,0,9,1.8,...,2,2,1,2,1.8,6530000,https://www.comuniate.com/caras3/2314.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022-09-27
521,20,Sevilla FC,Dolberg,DL,1,0,0,0,2,2.0,...,0,0,0,0,0.4,3330000,https://www.comuniate.com/caras3/3337.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022-09-27
522,20,Sevilla FC,Jesús Corona,DL,1,20,0,0,2,2.0,...,0,0,2,0,0.4,4260000,https://www.comuniate.com/caras3/3217.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022-09-27
523,20,Sevilla FC,Suso,DL,0,0,0,0,2,2.0,...,0,0,2,0,0.4,1950000,https://www.comuniate.com/caras3/1740.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022-09-27
524,20,Sevilla FC,Januzaj,DL,0,0,0,0,0,0.0,...,0,0,0,0,0.0,2630000,https://www.comuniate.com/caras3/2436.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022-09-27

In [152]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525 entries, 0 to 524
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Team_id              525 non-null    int64
 1   Team                 525 non-null    object
 2   Player               525 non-null    object
 3   Position             525 non-null    object
 4   Matchs               525 non-null    int64
 5   On_start_%           525 non-null    int64
 6   Goals                525 non-null    int64
 7   Assists              525 non-null    int64
 8   Total_Points         525 non-null    int64
 9   Points_Average       525 non-null    float64
 10  Last_5_games_points  525 non-null    object
 11  J_5                  525 non-null    int64
 12  J_4                  525 non-null    int64
 13  J_3                  525 non-null    int64
 14  J_2                  525 non-null    int64
 15  J_1                  525 non-null    int64
 16  Avg_last_5_games     525 non-null    float64
 17  Value                525 non-null    int64
 18  img                  525 non-null    object
 19  squad_img            525 non-null    object
 20  Date                 525 non-null    datetime64[ns]
 21  Date Tomorrow        525 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(12), object(6)
memory usage: 90.4+ KB

In [153]:
from datetime import timedelta

df['Days_plus_2'] = df['Date Tomorrow'] + timedelta(days=2)

df.head()

,Team_id,Team,Player,Position,Matchs,On_start_%,Goals,Assists,Total_Points,Points_Average,...,J_3,J_2,J_1,Avg_last_5_games,Value,img,squad_img,Date,Date Tomorrow,Days_plus_2
0,1,Athletic Club,Unai Simón,PT,5,100,0,1,25,5.0,...,8,2,2,5.0,4830000,https://www.comuniate.com/caras3/2669.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022-09-27,2022-09-29
1,1,Athletic Club,Agirrezabala,PT,5,0,0,0,0,0.0,...,0,0,0,0.0,370000,https://www.comuniate.com/caras3/3140.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022-09-27,2022-09-29
2,1,Athletic Club,Ander Iru,PT,5,0,0,0,0,0.0,...,0,0,0,0.0,300000,https://www.comuniate.com/caras3/3309.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022-09-27,2022-09-29
3,1,Athletic Club,De Marcos,DF,5,100,3,0,32,6.4,...,9,5,4,6.4,4660000,https://www.comuniate.com/caras3/1032.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022-09-27,2022-09-29
4,1,Athletic Club,Yeray Álvarez,DF,5,80,0,0,27,6.8,...,8,5,0,5.4,5370000,https://www.comuniate.com/caras3/2326.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022-09-27,2022-09-29

In [154]:
df.groupby('Team').agg({'J_5':'sum', 'Total_Points':'mean'}).sort_values('Total_Points', ascending=True)

                           J_5  Total_Points
Team
Cádiz CF                    56      5.466667
Getafe CF                   31      7.384615
Elche CF                    11      7.615385
UD Almería                  64      9.714286
Sevilla FC                  49      9.925926
RCD Espanyol de Barcelona   55     10.148148
Real Valladolid CF          37     10.320000
Rayo Vallecano de Madrid    64     10.370370
RCD Mallorca                64     11.000000
Real Sociedad de Fútbol     77     11.000000
Girona FC                   50     11.071429
Valencia CF                 40     11.296296
RC Celta de Vigo            47     12.434783
Real Betis Balompié         93     12.555556
CA Osasuna                  63     13.307692
Athletic Club               74     14.269231
Villarreal CF               95     16.040000
Club Atlético de Madrid    101     16.434783
Real Madrid CF              91     18.250000
FC Barcelona                68     18.692308

In [155]:
#help nos abre la documentación del metodo que queremos usar
help(df.sort_values)

Help on method sort_values in module pandas.core.frame:

sort_values(by, axis: 'Axis' = 0, ascending=True, inplace: 'bool' = False, kind: 'str' = 'quicksort', na_position: 'str' = 'last', ignore_index: 'bool' = False, key: 'ValueKeyFunc' = None) method of pandas.core.frame.DataFrame instance
    Sort by the values along either axis.

    Parameters
    ----------
            by : str or list of str
                Name or list of names to sort by.

                - if `axis` is 0 or `'index'` then `by` may contain index
                  levels and/or column labels.
                - if `axis` is 1 or `'columns'` then `by` may contain column
                  levels and/or index labels.
    axis : {0 or 'index', 1 or 'columns'}, default 0
         Axis to be sorted.
    ascending : bool or list of bool, default True
         Sort ascending vs. descending. Specify list for multiple sort
         orders.  If this is a list of bools, must match the length of
         the by.
    inplace : bool, default False
         If True, perform operation in-place.
    kind : {'quicksort', 'mergesort', 'heapsort', 'stable'}, default 'quicksort'
         Choice of sorting algorithm. See also :func:`numpy.sort` for more
         information. `mergesort` and `stable` are the only stable algorithms. For
         DataFrames, this option is only applied when sorting on a single
         column or label.
    na_position : {'first', 'last'}, default 'last'
         Puts NaNs at the beginning if `first`; `last` puts NaNs at the
         end.
    ignore_index : bool, default False
         If True, the resulting axis will be labeled 0, 1, …, n - 1.

         .. versionadded:: 1.0.0

    key : callable, optional
        Apply the key function to the values
        before sorting. This is similar to the `key` argument in the
        builtin :meth:`sorted` function, with the notable difference that
        this `key` function should be *vectorized*. It should expect a
        ``Series`` and return a Series with the same shape as the input.
        It will be applied to each column in `by` independently.

        .. versionadded:: 1.1.0

    Returns
    -------
    DataFrame or None
        DataFrame with sorted values or None if ``inplace=True``.

    See Also
    --------
    DataFrame.sort_index : Sort a DataFrame by the index.
    Series.sort_values : Similar method for a Series.

    Examples
    --------
    >>> df = pd.DataFrame({
    ...     'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
    ...     'col2': [2, 1, 9, 8, 7, 4],
    ...     'col3': [0, 1, 9, 4, 2, 3],
    ...     'col4': ['a', 'B', 'c', 'D', 'e', 'F']
    ... })
    >>> df
      col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F

    Sort by col1

    >>> df.sort_values(by=['col1'])
      col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    5    C     4     3    F
    4    D     7     2    e
    3  NaN     8     4    D

    Sort by multiple columns

    >>> df.sort_values(by=['col1', 'col2'])
      col1  col2  col3 col4
    1    A     1     1    B
    0    A     2     0    a
    2    B     9     9    c
    5    C     4     3    F
    4    D     7     2    e
    3  NaN     8     4    D

    Sort Descending

    >>> df.sort_values(by='col1', ascending=False)
      col1  col2  col3 col4
    4    D     7     2    e
    5    C     4     3    F
    2    B     9     9    c
    0    A     2     0    a
    1    A     1     1    B
    3  NaN     8     4    D

    Putting NAs first

    >>> df.sort_values(by='col1', ascending=False, na_position='first')
      col1  col2  col3 col4
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F
    2    B     9     9    c
    0    A     2     0    a
    1    A     1     1    B

    Sorting with a key function

    >>> df.sort_values(by='col4', key=lambda col: col.str.lower())
       col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F

    Natural sort with the key argument,
    using the `natsort <https://github.com/SethMMorton/natsort>` package.

    >>> df = pd.DataFrame({
    ...    "time": ['0hr', '128hr', '72hr', '48hr', '96hr'],
    ...    "value": [10, 20, 30, 40, 50]
    ... })
    >>> df
        time  value
    0    0hr     10
    1  128hr     20
    2   72hr     30
    3   48hr     40
    4   96hr     50
    >>> from natsort import index_natsorted
    >>> df.sort_values(
    ...    by="time",
    ...    key=lambda x: np.argsort(index_natsorted(df["time"]))
    ... )
        time  value
    0    0hr     10
    3   48hr     40
    2   72hr     30
    4   96hr     50
    1  128hr     20

In [156]:
# renombrar columnas

df.rename(columns={'Date Tomorrow':'Date_Tomorrow'}, inplace=True)

In [157]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525 entries, 0 to 524
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Team_id              525 non-null    int64
 1   Team                 525 non-null    object
 2   Player               525 non-null    object
 3   Position             525 non-null    object
 4   Matchs               525 non-null    int64
 5   On_start_%           525 non-null    int64
 6   Goals                525 non-null    int64
 7   Assists              525 non-null    int64
 8   Total_Points         525 non-null    int64
 9   Points_Average       525 non-null    float64
 10  Last_5_games_points  525 non-null    object
 11  J_5                  525 non-null    int64
 12  J_4                  525 non-null    int64
 13  J_3                  525 non-null    int64
 14  J_2                  525 non-null    int64
 15  J_1                  525 non-null    int64
 16  Avg_last_5_games     525 non-null    float64
 17  Value                525 non-null    int64
 18  img                  525 non-null    object
 19  squad_img            525 non-null    object
 20  Date                 525 non-null    datetime64[ns]
 21  Date_Tomorrow        525 non-null    datetime64[ns]
 22  Days_plus_2          525 non-null    datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(12), object(6)
memory usage: 94.5+ KB

In [158]:
df.set_index('Player', inplace=True)

In [159]:
df.rename(columns={'Date_Tomorrow':'Date_Yesterday'}, inplace=True)

In [160]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 525 entries, Unai Simón to Januzaj
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Team_id              525 non-null    int64
 1   Team                 525 non-null    object
 2   Position             525 non-null    object
 3   Matchs               525 non-null    int64
 4   On_start_%           525 non-null    int64
 5   Goals                525 non-null    int64
 6   Assists              525 non-null    int64
 7   Total_Points         525 non-null    int64
 8   Points_Average       525 non-null    float64
 9   Last_5_games_points  525 non-null    object
 10  J_5                  525 non-null    int64
 11  J_4                  525 non-null    int64
 12  J_3                  525 non-null    int64
 13  J_2                  525 non-null    int64
 14  J_1                  525 non-null    int64
 15  Avg_last_5_games     525 non-null    float64
 16  Value                525 non-null    int64
 17  img                  525 non-null    object
 18  squad_img            525 non-null    object
 19  Date                 525 non-null    datetime64[ns]
 20  Date_Yesterday       525 non-null    datetime64[ns]
 21  Days_plus_2          525 non-null    datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(12), object(5)
memory usage: 94.3+ KB

In [161]:
#resetear indices
df.reset_index(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525 entries, 0 to 524
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Player               525 non-null    object
 1   Team_id              525 non-null    int64
 2   Team                 525 non-null    object
 3   Position             525 non-null    object
 4   Matchs               525 non-null    int64
 5   On_start_%           525 non-null    int64
 6   Goals                525 non-null    int64
 7   Assists              525 non-null    int64
 8   Total_Points         525 non-null    int64
 9   Points_Average       525 non-null    float64
 10  Last_5_games_points  525 non-null    object
 11  J_5                  525 non-null    int64
 12  J_4                  525 non-null    int64
 13  J_3                  525 non-null    int64
 14  J_2                  525 non-null    int64
 15  J_1                  525 non-null    int64
 16  Avg_last_5_games     525 non-null    float64
 17  Value                525 non-null    int64
 18  img                  525 non-null    object
 19  squad_img            525 non-null    object
 20  Date                 525 non-null    datetime64[ns]
 21  Date_Yesterday       525 non-null    datetime64[ns]
 22  Days_plus_2          525 non-null    datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(12), object(6)
memory usage: 94.5+ KB

In [162]:
df.reset_index(inplace=True, drop=True) # drop elimina los índices y no crea la columna nueva
df

,Player,Team_id,Team,Position,Matchs,On_start_%,Goals,Assists,Total_Points,Points_Average,...,J_3,J_2,J_1,Avg_last_5_games,Value,img,squad_img,Date,Date_Yesterday,Days_plus_2
0,Unai Simón,1,Athletic Club,PT,5,100,0,1,25,5.0,...,8,2,2,5.0,4830000,https://www.comuniate.com/caras3/2669.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022-09-27,2022-09-29
1,Agirrezabala,1,Athletic Club,PT,5,0,0,0,0,0.0,...,0,0,0,0.0,370000,https://www.comuniate.com/caras3/3140.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022-09-27,2022-09-29
2,Ander Iru,1,Athletic Club,PT,5,0,0,0,0,0.0,...,0,0,0,0.0,300000,https://www.comuniate.com/caras3/3309.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022-09-27,2022-09-29
3,De Marcos,1,Athletic Club,DF,5,100,3,0,32,6.4,...,9,5,4,6.4,4660000,https://www.comuniate.com/caras3/1032.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022-09-27,2022-09-29
4,Yeray Álvarez,1,Athletic Club,DF,5,80,0,0,27,6.8,...,8,5,0,5.4,5370000,https://www.comuniate.com/caras3/2326.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022-09-27,2022-09-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520,En-Nesyri,20,Sevilla FC,DL,1,40,0,0,9,1.8,...,2,1,2,1.8,6530000,https://www.comuniate.com/caras3/2314.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022-09-27,2022-09-29
521,Dolberg,20,Sevilla FC,DL,1,0,0,0,2,2.0,...,0,0,0,0.4,3330000,https://www.comuniate.com/caras3/3337.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022-09-27,2022-09-29
522,Jesús Corona,20,Sevilla FC,DL,1,20,0,0,2,2.0,...,0,2,0,0.4,4260000,https://www.comuniate.com/caras3/3217.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022-09-27,2022-09-29
523,Suso,20,Sevilla FC,DL,0,0,0,0,2,2.0,...,0,2,0,0.4,1950000,https://www.comuniate.com/caras3/1740.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022-09-27,2022-09-29
524,Januzaj,20,Sevilla FC,DL,0,0,0,0,0,0.0,...,0,0,0,0.0,2630000,https://www.comuniate.com/caras3/2436.png,https://www.comuniate.com/intranet/equipos/fot...,2022-09-22 17:11:00.786755,2022-09-27,2022-09-29

In [164]:
#descripción del dataframe

df.describe().T # con la T nos muestra la matriz traspuesta, cambia filas por columnas

,count,mean,std,min,25%,50%,75%,max
Team_id,525.0,1.059429e+01,5.731356e+00,1.0,6.0,11.0,16.0,20.0
Matchs,525.0,2.963810e+00,1.876081e+00,0.0,1.0,3.0,5.0,5.0
On_start_%,525.0,4.163810e+01,3.947632e+01,0.0,0.0,40.0,80.0,100.0
Goals,525.0,2.438095e-01,6.778845e-01,0.0,0.0,0.0,0.0,6.0
Assists,525.0,1.600000e-01,4.380735e-01,0.0,0.0,0.0,0.0,3.0
Total_Points,525.0,1.173333e+01,1.120018e+01,-4.0,2.0,10.0,19.0,59.0
Points_Average,525.0,2.952571e+00,2.406309e+00,-4.0,1.0,2.8,4.5,11.8
J_5,525.0,2.342857e+00,3.161760e+00,-8.0,0.0,1.0,4.0,19.0
J_4,525.0,2.211429e+00,3.120216e+00,-8.0,0.0,1.0,4.0,17.0
J_3,525.0,2.420952e+00,3.098870e+00,-4.0,0.0,2.0,4.0,17.0
J_2,525.0,2.413333e+00,3.228956e+00,-4.0,0.0,2.0,4.0,17.0
J_1,525.0,2.388571e+00,3.287941e+00,-3.0,0.0,1.0,4.0,22.0
Avg_last_5_games,525.0,2.355429e+00,2.233454e+00,-0.8,0.4,2.0,3.8,11.8
Value,525.0,3.445695e+06,4.217809e+06,160000.0,790000.0,2100000.0,4450000.0,31870000.0

In [165]:
# muestra el describe tanto de columnas numéricas como categóricas
df.describe(include='all').T

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
Player,525,525,Unai Simón,1,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Team_id,525.0,NaN,NaN,NaN,NaT,NaT,10.594286,5.731356,1.0,6.0,11.0,16.0,20.0
Team,525,20,Cádiz CF,30,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Position,525,4,MD,203,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Matchs,525.0,NaN,NaN,NaN,NaT,NaT,2.96381,1.876081,0.0,1.0,3.0,5.0,5.0
On_start_%,525.0,NaN,NaN,NaN,NaT,NaT,41.638095,39.476325,0.0,0.0,40.0,80.0,100.0
Goals,525.0,NaN,NaN,NaN,NaT,NaT,0.24381,0.677885,0.0,0.0,0.0,0.0,6.0
Assists,525.0,NaN,NaN,NaN,NaT,NaT,0.16,0.438074,0.0,0.0,0.0,0.0,3.0
Total_Points,525.0,NaN,NaN,NaN,NaT,NaT,11.733333,11.200179,-4.0,2.0,10.0,19.0,59.0
Points_Average,525.0,NaN,NaN,NaN,NaT,NaT,2.952571,2.406309,-4.0,1.0,2.8,4.5,11.8
Last_5_games_points,525,377,"['-', '-', '-', '-', '-']",112,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
J_5,525.0,NaN,NaN,NaN,NaT,NaT,2.342857,3.16176,-8.0,0.0,1.0,4.0,19.0
J_4,525.0,NaN,NaN,NaN,NaT,NaT,2.211429,3.120216,-8.0,0.0,1.0,4.0,17.0
J_3,525.0,NaN,NaN,NaN,NaT,NaT,2.420952,3.09887,-4.0,0.0,2.0,4.0,17.0
J_2,525.0,NaN,NaN,NaN,NaT,NaT,2.413333,3.228956,-4.0,0.0,2.0,4.0,17.0
J_1,525.0,NaN,NaN,NaN,NaT,NaT,2.388571,3.287941,-3.0,0.0,1.0,4.0,22.0
Avg_last_5_games,525.0,NaN,NaN,NaN,NaT,NaT,2.355429,2.233454,-0.8,0.4,2.0,3.8,11.8
Value,525.0,NaN,NaN,NaN,NaT,NaT,3445695.238095,4217808.906057,160000.0,790000.0,2100000.0,4450000.0,31870000.0
img,525,519,https://www.comuniate.com/caras3/0.png,7,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
squad_img,525,20,https://www.comuniate.com/intranet/equipos/fot...,30,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Date,525,1,2022-09-22 17:11:00.786755,525,2022-09-22 17:11:00.786755,2022-09-22 17:11:00.786755,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Date_Yesterday,525,1,2022-09-27 00:00:00,525,2022-09-27 00:00:00.000000,2022-09-27 00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Days_plus_2,525,1,2022-09-29 00:00:00,525,2022-09-29 00:00:00.000000,2022-09-29 00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [166]:
df.describe(percentiles=[0.95]).T

,count,mean,std,min,50%,95%,max
Team_id,525.0,1.059429e+01,5.731356e+00,1.0,11.0,19.8,20.0
Matchs,525.0,2.963810e+00,1.876081e+00,0.0,3.0,5.0,5.0
On_start_%,525.0,4.163810e+01,3.947632e+01,0.0,40.0,100.0,100.0
Goals,525.0,2.438095e-01,6.778845e-01,0.0,0.0,1.8,6.0
Assists,525.0,1.600000e-01,4.380735e-01,0.0,0.0,1.0,3.0
Total_Points,525.0,1.173333e+01,1.120018e+01,-4.0,10.0,31.0,59.0
Points_Average,525.0,2.952571e+00,2.406309e+00,-4.0,2.8,7.0,11.8
J_5,525.0,2.342857e+00,3.161760e+00,-8.0,1.0,8.8,19.0
J_4,525.0,2.211429e+00,3.120216e+00,-8.0,1.0,8.0,17.0
J_3,525.0,2.420952e+00,3.098870e+00,-4.0,2.0,8.0,17.0
J_2,525.0,2.413333e+00,3.228956e+00,-4.0,2.0,9.0,17.0
J_1,525.0,2.388571e+00,3.287941e+00,-3.0,1.0,9.0,22.0
Avg_last_5_games,525.0,2.355429e+00,2.233454e+00,-0.8,2.0,6.2,11.8
Value,525.0,3.445695e+06,4.217809e+06,160000.0,2100000.0,11790000.0,31870000.0

In [167]:
clasificacion = pd.read_excel('/content/classification_J_5.xlsx').drop('Unnamed: 0', axis=1)
clasificacion

,Position,Team,Games,Won,Draw,Lost,Goals S.,Goals R.,GD,PTS
0,1,Real Madrid,5,5,0,0,15,5,10,15
1,2,Barcelona,5,4,1,0,15,1,14,13
2,3,Betis,5,4,0,1,8,3,5,12
3,4,Osasuna,5,4,0,1,7,3,4,12
4,5,Villarreal,5,3,1,1,9,1,8,10
5,6,Athletic Club,5,3,1,1,9,2,7,10
6,7,Atlético Madrid,5,3,1,1,9,4,5,10
7,8,Girona,5,2,1,2,6,5,1,7
8,9,Rayo Vallecano,5,2,1,2,5,5,0,7
9,10,Celta Vigo,5,2,1,2,8,10,-2,7
10,11,Real Sociedad,5,2,1,2,5,7,-2,7
11,12,Valencia,5,2,0,3,7,5,2,6
12,13,Mallorca,5,1,2,2,5,7,-2,5
13,14,Almería,5,1,1,3,4,6,-2,4
14,15,Sevilla,5,1,1,3,6,10,-4,4
15,16,Espanyol,5,1,1,3,6,10,-4,4
16,17,Valladolid,5,1,1,3,3,10,-7,4
17,18,Getafe,5,1,1,3,4,12,-8,4
18,19,Elche,5,0,1,4,2,13,-11,1
19,20,Cádiz,5,0,0,5,0,14,-14,0

In [168]:
equipos_a = clasificacion.Team.unique()
equipos_a

array([' Real Madrid', ' Barcelona', ' Betis', ' Osasuna', ' Villarreal',
       ' Athletic Club', ' Atlético Madrid', ' Girona', ' Rayo Vallecano',
       ' Celta Vigo', ' Real Sociedad', ' Valencia', ' Mallorca',
       ' Almería', ' Sevilla', ' Espanyol', ' Valladolid', ' Getafe',
       ' Elche', ' Cádiz'], dtype=object)

In [169]:
equipos_b = df.Team.unique()
equipos_b

array(['Athletic Club', 'Club Atlético de Madrid', 'CA Osasuna',
       'RCD Espanyol de Barcelona', 'FC Barcelona', 'Getafe CF',
       'Real Madrid CF', 'Rayo Vallecano de Madrid', 'RCD Mallorca',
       'Real Betis Balompié', 'Real Sociedad de Fútbol', 'Villarreal CF',
       'Valencia CF', 'Real Valladolid CF', 'Cádiz CF', 'UD Almería',
       'Elche CF', 'Girona FC', 'RC Celta de Vigo', 'Sevilla FC'],
      dtype=object)

In [170]:
new_team = {'Athletic Club': ' Athletic Club',
            'Club Atlético de Madrid': ' Atlético Madrid',
            'CA Osasuna': ' Osasuna',
            'RCD Espanyol de Barcelona': ' Espanyol',
            'FC Barcelona': ' Barcelona',
            'Getafe CF': ' Getafe',
            'Real Madrid CF': ' Real Madrid',
            'Rayo Vallecano de Madrid': ' Rayo Vallecano',
            'RCD Mallorca': ' Mallorca', 
            'Real Betis Balompié': ' Betis',
            'Real Sociedad de Fútbol': ' Real Sociedad',
            'Villarreal CF' : ' Villarreal',
            'Valencia CF': ' Valencia',
            'Real Valladolid CF': ' Valladolid',
            'Cádiz CF': ' Cádiz',
            'UD Almería': ' Almería',
            'Elche CF': ' Elche',
            'Girona FC': ' Girona',
            'RC Celta de Vigo': ' Celta Vigo',
            'Sevilla FC': ' Sevilla'
            }

In [171]:
# con esto renombramos la columna

df.Team = df.Team.apply(lambda x: new_team[x])

In [172]:
df.Team.unique()

array([' Athletic Club', ' Atlético Madrid', ' Osasuna', ' Espanyol',
       ' Barcelona', ' Getafe', ' Real Madrid', ' Rayo Vallecano',
       ' Mallorca', ' Betis', ' Real Sociedad', ' Villarreal',
       ' Valencia', ' Valladolid', ' Cádiz', ' Almería', ' Elche',
       ' Girona', ' Celta Vigo', ' Sevilla'], dtype=object)

In [173]:
all = df.merge(clasificacion, on='Team', how='left')
all

,Player,Team_id,Team,Position_x,Matchs,On_start_%,Goals,Assists,Total_Points,Points_Average,...,Days_plus_2,Position_y,Games,Won,Draw,Lost,Goals S.,Goals R.,GD,PTS
0,Unai Simón,1,Athletic Club,PT,5,100,0,1,25,5.0,...,2022-09-29,6,5,3,1,1,9,2,7,10
1,Agirrezabala,1,Athletic Club,PT,5,0,0,0,0,0.0,...,2022-09-29,6,5,3,1,1,9,2,7,10
2,Ander Iru,1,Athletic Club,PT,5,0,0,0,0,0.0,...,2022-09-29,6,5,3,1,1,9,2,7,10
3,De Marcos,1,Athletic Club,DF,5,100,3,0,32,6.4,...,2022-09-29,6,5,3,1,1,9,2,7,10
4,Yeray Álvarez,1,Athletic Club,DF,5,80,0,0,27,6.8,...,2022-09-29,6,5,3,1,1,9,2,7,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520,En-Nesyri,20,Sevilla,DL,1,40,0,0,9,1.8,...,2022-09-29,15,5,1,1,3,6,10,-4,4
521,Dolberg,20,Sevilla,DL,1,0,0,0,2,2.0,...,2022-09-29,15,5,1,1,3,6,10,-4,4
522,Jesús Corona,20,Sevilla,DL,1,20,0,0,2,2.0,...,2022-09-29,15,5,1,1,3,6,10,-4,4
523,Suso,20,Sevilla,DL,0,0,0,0,2,2.0,...,2022-09-29,15,5,1,1,3,6,10,-4,4
524,Januzaj,20,Sevilla,DL,0,0,0,0,0,0.0,...,2022-09-29,15,5,1,1,3,6,10,-4,4