## Importa las librer√≠as necesarias para leer ficheros txt, csv, excel, json...

https://aprendeconalf.es/docencia/python/manual/pandas/

https://es.stackoverflow.com/questions/405142/c%c3%b3mo-importar-las-librer%c3%adas-de-manera-r%c3%a1pida-y-optimizada-en-python

In [1]:
import pandas as pd

## Importar datos desde CSV

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

https://stackoverflow.com/questions/14365542/import-csv-file-as-a-pandas-dataframe

In [70]:
df = pd.read_csv('/content/sample_data/file1.csv')
df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,Date,desempleado
0,RB50392,Washington,MA,Master,NaN,0.0,1000,12/30/1899,Personal Auto,Four-Door Car,2.704934,10/30/1995,True
1,QZ44356,Arizona,F,Bachelor,69795359%,0.0,94,12/30/1899,Personal Auto,Four-Door Car,1131.464935,12/2/1998,False
2,AI49188,Nevada,F,Bachelor,128874317%,NaN,108,12/30/1899,Personal Auto,Two-Door Car,566.472247,5/16/1997,True
3,WW63253,California,M,Bachelor,76458618%,0.0,106,12/30/1899,Corporate Auto,SUV,529.881344,4/9/1997,False
4,GA49547,Washington,M,High School or Below,53630765%,36357.0,68,12/30/1899,Personal Auto,Four-Door Car,17.269323,11/14/1995,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,30595503%,38644.0,78,1/1/2000,Personal Auto,Four-Door Car,361.455219,10/23/1996,True
1067,VJ51327,Cali,F,High School or Below,203149976%,63209.0,102,2/1/2000,Personal Auto,SUV,207.320041,5/22/1996,False
1068,GS98873,Arizona,F,Bachelor,32391247%,16061.0,88,12/30/1899,Personal Auto,Four-Door Car,633.600000,7/22/1997,True
1069,CW49887,California,F,Master,46268011%,79487.0,114,12/30/1899,Special Auto,SUV,547.200000,4/27/1997,False
1070,MY31220,California,F,College,89970402%,54230.0,112,12/30/1899,Personal Auto,Two-Door Car,537.600000,4/17/1997,True

In [53]:
df['GENDER'].value_counts()

F         457
M         413
MA        117
Male       39
female     28
Femal      17
Name: GENDER, dtype: int64

## Muestra las primeras l√≠neas del fichero importado y comprueba que se ha cargado correctamente

https://www.analyticslane.com/2021/03/08/pandas-seleccionar-las-primeras-o-ultimas-filas-de-un-dataframe-pandas-con-head-o-tail/

In [ ]:
df.head()

## Caracter√≠sticas dataframe

### Cuantas lineas y columnas tienen nuestros datos importados?

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html

https://www.w3schools.com/python/pandas/ref_df_info.asp

In [ ]:
df.shape

(1071, 13)

### De qu√© formato son las variables de nuestra tabla? Hay alguna variable a la que se lo cambiar√≠as?


https://www.w3schools.com/python/pandas/ref_df_shape.asp#:~:text=Pandas%20DataFrame%20shape%20Property%201%20Definition%20and%20Usage,number%20of%20rows%20and%20columns.%20%E2%9D%AE%20DataFrame%20Reference

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shape.html

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1071 entries, 0 to 1070
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     1071 non-null   object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1070 non-null   float64
 6   Monthly Premium Auto       1071 non-null   int64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
 11  Date                       1071 non-null   object
 12  desempleado                1071 non-null   bool
dtypes: bool(1), float64(2), int64(1), object(9)
memory usage: 101.6+ KB

## Preparaci√≥n dataframe

### Crea una nueva variable "fecha" con el formato m√°s adecuado

https://datatofish.com/strings-to-datetime-pandas/

https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

In [5]:
df['Date2'] = pd.to_datetime(df['Date'], format='%m/%d/%Y')
df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,Date,desempleado,Date2
0,RB50392,Washington,MA,Master,NaN,0.0,1000,12/30/1899,Personal Auto,Four-Door Car,2.704934,10/30/1995,True,1995-10-30
1,QZ44356,Arizona,F,Bachelor,69795359%,0.0,94,12/30/1899,Personal Auto,Four-Door Car,1131.464935,12/2/1998,False,1998-12-02
2,AI49188,Nevada,F,Bachelor,128874317%,NaN,108,12/30/1899,Personal Auto,Two-Door Car,566.472247,5/16/1997,True,1997-05-16
3,WW63253,California,M,Bachelor,76458618%,0.0,106,12/30/1899,Corporate Auto,SUV,529.881344,4/9/1997,False,1997-04-09
4,GA49547,Washington,M,High School or Below,53630765%,36357.0,68,12/30/1899,Personal Auto,Four-Door Car,17.269323,11/14/1995,True,1995-11-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,30595503%,38644.0,78,1/1/2000,Personal Auto,Four-Door Car,361.455219,10/23/1996,True,1996-10-23
1067,VJ51327,Cali,F,High School or Below,203149976%,63209.0,102,2/1/2000,Personal Auto,SUV,207.320041,5/22/1996,False,1996-05-22
1068,GS98873,Arizona,F,Bachelor,32391247%,16061.0,88,12/30/1899,Personal Auto,Four-Door Car,633.600000,7/22/1997,True,1997-07-22
1069,CW49887,California,F,Master,46268011%,79487.0,114,12/30/1899,Special Auto,SUV,547.200000,4/27/1997,False,1997-04-27
1070,MY31220,California,F,College,89970402%,54230.0,112,12/30/1899,Personal Auto,Two-Door Car,537.600000,4/17/1997,True,1997-04-17

### Comprueba que el formato a cambiado correctamente

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1071 entries, 0 to 1070
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     1071 non-null   object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1070 non-null   float64
 6   Monthly Premium Auto       1071 non-null   int64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
 11  Date                       1071 non-null   object
 12  desempleado                1071 non-null   bool
 13  Date2                      1071 non-null   datetime64[ns]
dtypes: bool(1), datetime64[ns](1), float64(2), int64(1), object(9)
memory usage: 109.9+ KB

### Suma varios d√≠as a la nueva variable fecha que has creado anteriormente

In [ ]:
df['Date3'] = df['Date2'] + pd.Timedelta(weeks=-5)
df

## Calcula la suma y la media de Income para cada sexo

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html

https://realpython.com/pandas-groupby/

In [11]:
suma= df.groupby('GENDER')[['Income']].sum()
# media=df.groupby('GENDER')[['Income']].mean()

suma

            Income
GENDER
F       18118241.0
Femal     700022.0
M       16555365.0
MA       4330262.0
Male     1427237.0
female    905802.0

In [13]:
media=df.groupby('GENDER')[['Income']].mean()
media

              Income
GENDER
F       39732.984649
Femal   41177.764706
M       40085.629540
MA      37010.786325
Male    36595.820513
female  32350.071429

In [14]:
df.groupby('GENDER')['Income'].agg(['mean','sum','median','count','std','var'])

                mean         sum   median  count           std           var
GENDER
F       39732.984649  18118241.0  36940.5    456  30313.332319  9.188981e+08
Femal   41177.764706    700022.0  43860.0     17  36083.404375  1.302012e+09
M       40085.629540  16555365.0  36633.0    413  30775.967674  9.471602e+08
MA      37010.786325   4330262.0  33190.0    117  28393.267661  8.061776e+08
Male    36595.820513   1427237.0  30855.0     39  33488.264261  1.121464e+09
female  32350.071429    905802.0  23624.5     28  30634.779514  9.384897e+08

## Calcula la suma y la media de Income para los cada sexo y Education

In [16]:
df.groupby(['GENDER','Education'])[['Income']].agg(['mean','sum','count'])

                                   Income
                                     mean        sum count
GENDER Education
F      Bachelor              41449.857143  5222682.0   126
       Bachelors             91137.000000   182274.0     2
       College               40541.325926  5473079.0   135
       Doctor                48504.562500   776073.0    16
       High School or Below  31455.706767  4183609.0   133
       Master                51830.090909  2280524.0    44
Femal  Bachelor              50926.833333   305561.0     6
       College               31094.500000   186567.0     6
       High School or Below  41578.800000   207894.0     5
M      Bachelor              39660.071942  5512750.0   139
       Bachelors             75751.000000   378755.0     5
       College               36185.939655  4197569.0   116
       Doctor                42574.625000   681194.0    16
       High School or Below  39760.038095  4174804.0   105
       Master                50321.656250  1610293.0    32
MA     Bachelor              32007.650000  1280306.0    40
       College               40669.411765  1382760.0    34
       Doctor                22241.500000    44483.0     2
       High School or Below  38094.903226  1180942.0    31
       Master                44177.100000   441771.0    10
Male   Bachelor              53476.000000   160428.0     3
       College               34909.800000   523647.0    15
       Doctor                27651.333333    82954.0     3
       High School or Below  29585.714286   414200.0    14
       Master                61502.000000   246008.0     4
female Bachelor              26504.222222   238538.0     9
       College               43328.714286   303301.0     7
       High School or Below  14133.500000   113068.0     8
       Master                62723.750000   250895.0     4

## Crea una nueva tabla en la que solo salgan los hombres. Filtra la anterior por Gender = Male

https://www.analyticslane.com/2019/05/10/operaciones-de-filtrado-de-dataframe-con-pandas-en-base-a-los-valores-de-las-columnas/

In [ ]:
hombres= df[df['GENDER']=='M']
hombres

## Ahora muestra en pantalla los hombres que tengan un Total Claim Amount superior a 300

In [ ]:
claim = hombres[hombres['Total Claim Amount']>300]
claim

In [36]:
hombres_300 = df[~(df['GENDER'].isin(['M','MA','Male'])) & ~(df['Total Claim Amount']>300) ] # | (df['Vehicle Class'] == 'SUV')
hombres_300

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,Date,desempleado,Date2,Date3
5,OC83172,Oregon,F,Bachelor,82562978%,62902.0,69,12/30/1899,Personal Auto,Two-Door Car,159.383042,4/4/1996,False,1996-04-04,1996-02-29
33,HD95276,Washington,F,College,47378717%,0.0,130,12/30/1899,Personal Auto,SUV,23.820158,11/20/1995,False,1995-11-20,1995-10-16
53,NW21079,Washington,F,Master,48793848%,67163.0,61,2/1/2000,Personal Auto,Two-Door Car,33.192803,11/30/1995,False,1995-11-30,1995-10-26
78,SP81997,Washington,F,Master,NaN,41275.0,96,12/30/1899,Personal Auto,Four-Door Car,41.122303,12/8/1995,True,1995-12-08,1995-11-03
85,YB66933,Washington,F,Bachelor,53827520%,77552.0,68,1/1/2000,Corporate Auto,Four-Door Car,45.215059,12/12/1995,False,1995-12-12,1995-11-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1051,CZ96653,Oregon,F,Bachelor,85347928%,47325.0,107,12/30/1899,Personal Auto,SUV,64.598216,12/31/1995,False,1995-12-31,1995-11-26
1054,RJ85627,Washington,F,Bachelor,123027624%,43817.0,62,1/1/2000,Personal Auto,Four-Door Car,245.447622,6/29/1996,True,1996-06-29,1996-05-25
1056,PI47776,Oregon,F,Bachelor,25307051%,89451.0,63,12/30/1899,Corporate Auto,Four-Door Car,61.769564,12/28/1995,True,1995-12-28,1995-11-23
1064,YT69858,Washington,F,Bachelor,54414201%,85702.0,67,12/30/1899,Personal Auto,Two-Door Car,249.085887,7/3/1996,True,1996-07-03,1996-05-29
1067,VJ51327,Cali,F,High School or Below,203149976%,63209.0,102,2/1/2000,Personal Auto,SUV,207.320041,5/22/1996,False,1996-05-22,1996-04-17

## Quita los duplicados

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop_duplicates.html

In [43]:
df_dup = df.drop_duplicates() # ['GENDER','Education']
df_dup

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,Date,desempleado,Date2,Date3
0,RB50392,Washington,MA,Master,NaN,0.0,1000,12/30/1899,Personal Auto,Four-Door Car,2.704934,10/30/1995,True,1995-10-30,1995-09-25
1,QZ44356,Arizona,F,Bachelor,69795359%,0.0,94,12/30/1899,Personal Auto,Four-Door Car,1131.464935,12/2/1998,False,1998-12-02,1998-10-28
2,AI49188,Nevada,F,Bachelor,128874317%,NaN,108,12/30/1899,Personal Auto,Two-Door Car,566.472247,5/16/1997,True,1997-05-16,1997-04-11
3,WW63253,California,M,Bachelor,76458618%,0.0,106,12/30/1899,Corporate Auto,SUV,529.881344,4/9/1997,False,1997-04-09,1997-03-05
4,GA49547,Washington,M,High School or Below,53630765%,36357.0,68,12/30/1899,Personal Auto,Four-Door Car,17.269323,11/14/1995,True,1995-11-14,1995-10-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,30595503%,38644.0,78,1/1/2000,Personal Auto,Four-Door Car,361.455219,10/23/1996,True,1996-10-23,1996-09-18
1067,VJ51327,Cali,F,High School or Below,203149976%,63209.0,102,2/1/2000,Personal Auto,SUV,207.320041,5/22/1996,False,1996-05-22,1996-04-17
1068,GS98873,Arizona,F,Bachelor,32391247%,16061.0,88,12/30/1899,Personal Auto,Four-Door Car,633.600000,7/22/1997,True,1997-07-22,1997-06-17
1069,CW49887,California,F,Master,46268011%,79487.0,114,12/30/1899,Special Auto,SUV,547.200000,4/27/1997,False,1997-04-27,1997-03-23
1070,MY31220,California,F,College,89970402%,54230.0,112,12/30/1899,Personal Auto,Two-Door Car,537.600000,4/17/1997,True,1997-04-17,1997-03-13

## Demuestra si hab√≠a duplicados o no

In [ ]:
# Mirando el numero de lineas inicial y el final

## Ordena la tabla por Customer

https://datagy.io/pandas-sort-values/#:~:text=As%20a%20quick%20refresher%3A%201%20The%20Pandas%20.sort_values,you%20to%20build%20a%20tidier%20DataFrame%20M%C3%A1s%20elementos




https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html

In [ ]:
df_sort = df.sort_values(['GENDER','ST'], ascending = [False, True])
df_sort

## Ordena la tabla por Customer y ST

## Como has visto anteriormente, las variables Gender, ST y Education tienen valores "raros", crea nuevas variables con esos valores corregidos

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html

In [54]:
df.loc[df['GENDER'].isin(['M','Male','MA']), 'GENDER'] = 'M'
df.loc[df['GENDER'].isin(['Femal','female','F']), 'GENDER'] = 'F'
df['GENDER'].value_counts()

M    569
F    502
Name: GENDER, dtype: int64

In [59]:
df.loc[df['ST'].isin(['AZ']), 'ST'] = 'Arizona'
df.loc[df['ST'].isin(['Cali']), 'ST'] = 'California'
df.loc[df['ST'].isin(['WA']), 'ST'] = 'Washington'
df['ST'].value_counts()

California    331
Oregon        320
Arizona       211
Washington    111
Nevada         98
Name: ST, dtype: int64

In [60]:
df.loc[df['Education'] == 'Bachelors', 'Education'] = 'Bachelor'
df['Education'].value_counts()

Bachelor                331
College                 313
High School or Below    296
Master                   94
Doctor                   37
Name: Education, dtype: int64

### Eliminar cosas

Elimina filas (axis = 0) o columnas (axis = 1)

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html

In [64]:
df_eliminar = df.drop('Education', axis = 1)
df_eliminar

,Customer,ST,GENDER,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,Date,desempleado
0,RB50392,Washington,M,NaN,0.0,1000,12/30/1899,Personal Auto,Four-Door Car,2.704934,10/30/1995,True
1,QZ44356,Arizona,F,69795359%,0.0,94,12/30/1899,Personal Auto,Four-Door Car,1131.464935,12/2/1998,False
2,AI49188,Nevada,F,128874317%,NaN,108,12/30/1899,Personal Auto,Two-Door Car,566.472247,5/16/1997,True
3,WW63253,California,M,76458618%,0.0,106,12/30/1899,Corporate Auto,SUV,529.881344,4/9/1997,False
4,GA49547,Washington,M,53630765%,36357.0,68,12/30/1899,Personal Auto,Four-Door Car,17.269323,11/14/1995,True
...,...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,30595503%,38644.0,78,1/1/2000,Personal Auto,Four-Door Car,361.455219,10/23/1996,True
1067,VJ51327,California,F,203149976%,63209.0,102,2/1/2000,Personal Auto,SUV,207.320041,5/22/1996,False
1068,GS98873,Arizona,F,32391247%,16061.0,88,12/30/1899,Personal Auto,Four-Door Car,633.600000,7/22/1997,True
1069,CW49887,California,F,46268011%,79487.0,114,12/30/1899,Special Auto,SUV,547.200000,4/27/1997,False
1070,MY31220,California,F,89970402%,54230.0,112,12/30/1899,Personal Auto,Two-Door Car,537.600000,4/17/1997,True

## INDICES

N√∫mero de serie de cada l√≠nea de un dataframe. Originalmente, cuando importas o creas una nueva tabla, es una columna que va desde 0 hasta la longitud (n√∫mero de l√≠neas) del propio dataframe.

En ocasiones nos interesa que una de nuestras columnas sea el √≠ndice, para ello existe el m√©todo .set_index('columna'), que nos permite cambiar el √≠ndice de la tabla.

A trav√©s del m√©todo .reset_index() volvemos la acci√≥n para atr√°s

In [80]:
df.index

Index(['RB50392', 'QZ44356', 'AI49188', 'WW63253', 'GA49547', 'OC83172',
       'XZ87318', 'CF85061', 'DY87989', 'BQ94931',
       ...
       'RY92647', 'IK12620', 'GQ66762', 'YT69858', 'XD85577', 'TM65736',
       'VJ51327', 'GS98873', 'CW49887', 'MY31220'],
      dtype='object', name='Customer', length=1071)

## Establece la variable Customer como Indice

https://www.delftstack.com/es/howto/python-pandas/set-column-as-index-pandas/#:~:text=Normalmente%2C%20en%20un%20Pandas%20DataFrame%2C%20tenemos%20n%C3%BAmeros%20de,columna%20espec%C3%ADfica%20de%20un%20dataframe%20sea%20su%20%C3%ADndice.

In [71]:
df.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount', 'Date',
       'desempleado'],
      dtype='object')

In [ ]:
df.set_index('Customer', inplace = True)
# df = df.set_index('Customer')

## Usa el reset index para volver atr√°s

In [83]:
df.reset_index(inplace = True)
df

,index,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,Date,desempleado
0,0,RB50392,Washington,MA,Master,NaN,0.0,1000,12/30/1899,Personal Auto,Four-Door Car,2.704934,10/30/1995,True
1,1,QZ44356,Arizona,F,Bachelor,69795359%,0.0,94,12/30/1899,Personal Auto,Four-Door Car,1131.464935,12/2/1998,False
2,2,AI49188,Nevada,F,Bachelor,128874317%,NaN,108,12/30/1899,Personal Auto,Two-Door Car,566.472247,5/16/1997,True
3,3,WW63253,California,M,Bachelor,76458618%,0.0,106,12/30/1899,Corporate Auto,SUV,529.881344,4/9/1997,False
4,4,GA49547,Washington,M,High School or Below,53630765%,36357.0,68,12/30/1899,Personal Auto,Four-Door Car,17.269323,11/14/1995,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1066,1066,TM65736,Oregon,M,Master,30595503%,38644.0,78,1/1/2000,Personal Auto,Four-Door Car,361.455219,10/23/1996,True
1067,1067,VJ51327,Cali,F,High School or Below,203149976%,63209.0,102,2/1/2000,Personal Auto,SUV,207.320041,5/22/1996,False
1068,1068,GS98873,Arizona,F,Bachelor,32391247%,16061.0,88,12/30/1899,Personal Auto,Four-Door Car,633.600000,7/22/1997,True
1069,1069,CW49887,California,F,Master,46268011%,79487.0,114,12/30/1899,Special Auto,SUV,547.200000,4/27/1997,False
1070,1070,MY31220,California,F,College,89970402%,54230.0,112,12/30/1899,Personal Auto,Two-Door Car,537.600000,4/17/1997,True

## Renombra las variables del ingl√©s al espa√±ol

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

https://www.geeksforgeeks.org/python-pandas-dataframe-rename/

## Descripci√≥n de los datos

In [ ]:
# estad√≠sticos b√°sicos de las varaiables num√©ricas
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html
df.describe()

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

In [ ]:
# https://dataindependent.com/pandas/pandas-describe-pd-dataframe-describe/#:~:text=By%20default%2C%20pandas%20will%20only%20describe%20your%20numeric,Pandas%20will%20not%20calculate%20things%20like%20%E2%80%98average%20time%2Fdate%E2%80%99.
df.describe(include = 'all',percentiles = (0.10, 0.15,0.80, 0.85, 0.90, 0.95))

,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,Date
count,1071,954,1071,1068,1071.000000,1071.000000,1071,1071,1071,1071.000000,1071
unique,8,5,6,1027,NaN,NaN,6,3,6,NaN,495
top,Oregon,F,Bachelor,445811.34%,NaN,NaN,1/0/00,Personal Auto,Four-Door Car,NaN,13/09/1996
freq,320,457,324,4,NaN,NaN,830,780,576,NaN,20
mean,NaN,NaN,NaN,NaN,39295.701214,193.234360,NaN,NaN,NaN,404.986909,NaN
std,NaN,NaN,NaN,NaN,30469.427060,1601.190369,NaN,NaN,NaN,293.027260,NaN
min,NaN,NaN,NaN,NaN,0.000000,61.000000,NaN,NaN,NaN,0.382107,NaN
10%,NaN,NaN,NaN,NaN,0.000000,64.000000,NaN,NaN,NaN,67.881546,NaN
15%,NaN,NaN,NaN,NaN,0.000000,65.000000,NaN,NaN,NaN,106.206302,NaN
50%,NaN,NaN,NaN,NaN,36234.000000,83.000000,NaN,NaN,NaN,354.729129,NaN
80%,NaN,NaN,NaN,NaN,70014.000000,112.000000,NaN,NaN,NaN,571.200000,NaN
85%,NaN,NaN,NaN,NaN,76334.000000,117.000000,NaN,NaN,NaN,639.285052,NaN
90%,NaN,NaN,NaN,NaN,83707.000000,129.000000,NaN,NaN,NaN,729.600000,NaN
95%,NaN,NaN,NaN,NaN,90802.000000,168.000000,NaN,NaN,NaN,921.600000,NaN
max,NaN,NaN,NaN,NaN,99960.000000,35354.000000,NaN,NaN,NaN,2893.239678,NaN